@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Historical Figures in Assassin's Creed Games</h1>
    <p>Angela Myers 0796187</p>
    <p>The current time is @DateTime.Now</p>
</div>
