@page
@model RazorPagesHistoricalFiguresAC.Pages_HistoricalFiguresAC.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>HistoricalFiguresAC</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="HistoricalFiguresAC.Name" class="control-label"></label>
                <input asp-for="HistoricalFiguresAC.Name" class="form-control" />
                <span asp-validation-for="HistoricalFiguresAC.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HistoricalFiguresAC.DateOfBirth" class="control-label"></label>
                <input asp-for="HistoricalFiguresAC.DateOfBirth" class="form-control" />
                <span asp-validation-for="HistoricalFiguresAC.DateOfBirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HistoricalFiguresAC.DateOfDeath" class="control-label"></label>
                <input asp-for="HistoricalFiguresAC.DateOfDeath" class="form-control" />
                <span asp-validation-for="HistoricalFiguresAC.DateOfDeath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HistoricalFiguresAC.Profession" class="control-label"></label>
                <input asp-for="HistoricalFiguresAC.Profession" class="form-control" />
                <span asp-validation-for="HistoricalFiguresAC.Profession" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HistoricalFiguresAC.SeenIn" class="control-label"></label>
                <input asp-for="HistoricalFiguresAC.SeenIn" class="form-control" />
                <span asp-validation-for="HistoricalFiguresAC.SeenIn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HistoricalFiguresAC.Affiliation" class="control-label"></label>
                <input asp-for="HistoricalFiguresAC.Affiliation" class="form-control" />
                <span asp-validation-for="HistoricalFiguresAC.Affiliation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
